@page
@model GrupoESINuevo.Pages.Employees.ManageEmployeeModel
@{
    ViewData["Title"] = "ManageEmployee";
}
<label id="_EmployerId" hidden>@Model._ManageEmployeesVM.EmployerId</label>
<h2 class="text-info">Manejar empleados</h2>
<div class="container backgroundWhite">
    <div class="card">
        <div class="card-header bg-dark text-light ml-0 row container">
            <div class="card-header bg-dark text-light ml-0 row container">
                <div class="col-6">
                    <i class="fa fa-user-o"></i>
                </div>
            </div>
        </div>

        <div class="card-body container">
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <div>
                            <table id="tblData" class="display">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            employerId = document.getElementById('_EmployerId');
            console.log(employerId.innerText);
            
            loadDataTable(employerId.innerText);
        });
        function loadDataTable(employerId) {
            $("#tblData").DataTable(
                {
                    "ajax":
                    {
                        "type": "GET",
                        "url": "/api/Employee/GetInquiryList?employerId=" + employerId
                    },
                    "columns": [

                        { "data": "name", "width": "10%" },
                        { "data": "email", "width": "10%" },
                        
                    ]
                })
        }
    </script>
}