@page
@model GrupoESI.CreatePredefinedTaskModel
@{

}
<div class="container backgroundWhite">
    <h2 class="text-info">Crear tarea</h2>
    <div class="card container">
        <div class="card-header bg-dark text-light ml-0 row container">
            <div class="col-6">
                <i class="fa fa-user-o"></i>
            </div>
        </div>
        <div class="card-body container">

            <div class="col-md-6 offset-md-3">
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="_predefinedTaskVM.ServiceName"></label>
                    </div>
                    <div class="col-sm-8" style="padding-bottom:5px;">
                        <input asp-for="_predefinedTaskVM.ServiceName" disabled class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="_predefinedTaskVM.ServiceDescription"></label>
                    </div>
                    <div class="col-sm-8" style="padding-bottom:5px;">
                        <input asp-for="_predefinedTaskVM.ServiceDescription" disabled class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <form method="post">
                        <input type="hidden" id="_serviceId" asp-for="_predefinedTaskVM.serviceId" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="_predefinedTaskVM.PredefinedTaskName" class="control-label"></label>
                            <input asp-for="_predefinedTaskVM.PredefinedTaskName" class="form-control" />
                            <span asp-validation-for="_predefinedTaskVM.PredefinedTaskName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="_predefinedTaskVM.PredefinedTaskDescription" class="control-label"></label>
                            <input asp-for="_predefinedTaskVM.PredefinedTaskDescription" class="form-control" />
                            <span asp-validation-for="_predefinedTaskVM.PredefinedTaskDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="_predefinedTaskVM.CostHandLabor" class="control-label"></label>
                            <input asp-for="_predefinedTaskVM.CostHandLabor" class="form-control" />
                            <span asp-validation-for="_predefinedTaskVM.CostHandLabor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="_predefinedTaskVM.PredefinedTaskDuration" class="control-label"></label>
                            <input asp-for="_predefinedTaskVM.PredefinedTaskDuration" class="form-control" />
                            <span asp-validation-for="_predefinedTaskVM.PredefinedTaskDuration" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <a asp-page="../PredefinedTasks/PredefinedTaskIndex" asp-route-serviceId="_predefinedTaskVM.serviceId">Back to List</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}