@page
@model GrupoESI.PredefinedTaskIndexModel
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col">
        <label id="_serviceId" hidden>@Model._serviceId</label>
        <a asp-page="CreatePredefinedTask" asp-route-serviceId="@Model._serviceId" class="btn btn-info form-control">
            <i class="fas fa-plus"></i> &nbsp; Agregar nueva tarea predefinida
        </a>
        <div>
            <table id="tblData" class="display">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th>
                            Duracion
                        </th>
                        <th>
                            Costo mano de obra
                        </th>
                        <th>
                            Costo
                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            serviceId = document.getElementById('_serviceId');
            //console.log(employerId.innerText);employerId.innerTextemployerId + employerId
            console.log("q show");
            console.log(serviceId);
            loadDataTable(serviceId.innerText);
        });
        function loadDataTable(serviceId) {
            $("#tblData").DataTable(
                {
                    "ajax":
                    {
                        "type": "GET",
                        "url": "/api/PredefinedTask/GetPredefinedTaskLst?serviceId=" + serviceId 
                    },
                    "columns": [
                        { "data": "predefinedTaskName", "width": "10%" },
                        { "data": "predefinedTaskDescription", "width": "10%" },
                        { "data": "predefinedTaskDuration", "width": "10%" },
                        { "data": "predefinedTaskCostHandLabor", "width": "10%" },
                        { "data": "predefinedTaskCost", "width": "10%" },
                        {
                            "data": "predefinedTaskId",
                            "render": function (data) {
                                return `
                                    <div class="text-center">
                                        <a href="/PredefinedMaterials/ManagePredefinedTaskMaterial?predefinedTaskId=${data}" class="btn btn-success text-white" style="cursor:pointer">
                                           Manejar materiales
                                        </a>
                                    </div>
                                `;
                            }
                        },
                        {
                            "data": "predefinedTaskId",
                            "render": function (data) {
                                return `
                                    <div class="text-center">
                                        <a href="/PredefinedTasks/EditPredefinedTask?predefinedTaskId=${data}" class="btn btn-info text-white" style="cursor:pointer">
                                           Editar Tarea
                                        </a>
                                    </div>
                                `;
                            }
                        },
                        {
                            "data": "predefinedTaskId",
                            "render": function (data) {
                                return `
                                    <div class="text-center">
                                        <a href="/PredefinedTasks/DeletePredefinedTask?predefinedTaskId=${data}" class="btn btn-danger text-white" style="cursor:pointer">
                                           Borrar Tarea
                                        </a>
                                    </div>
                                `;
                            }
                        }
                    ]
                })
        }
    </script>
}