@page
@model GrupoESI.CreateServoceModel

@{
    ViewData["Title"] = "Create";
}
    <div class="container backgroundWhite">
        <h2 class="text-info">Agregar un nuevo servicio</h2>
        <div class="card">
            <div class="card-header bg-dark text-light ml-0 row container">
                <div class="col-6">
                    <i class="fa fa-user-o"></i>
                </div>
            </div>
            <div class="card-body container">
                <form method="post">
                    <div class="border backgroundWhite">
                        <input hidden asp-for="Service.UserId" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label asp-for="Service.Name"></label>
                            </div>
                            <div class="col-5">
                                <input asp-for="Service.Name" class="form-control" />
                            </div>
                            <span asp-validation-for="Service.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label asp-for="Service.Description"></label>
                            </div>
                            <div class="col-5">
                                <input asp-for="Service.Description" class="form-control" />
                            </div>
                            <span asp-validation-for="Service.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-2">
                                <label asp-for="Service.serviceType"></label>
                            </div>
                            @if (Model.ServiceTypesList.Count > 0)
                            {
                                <div class="col-5">
                                    <select asp-for="Service.serviceType.Id"
                                            asp-items="@(new SelectList(Model.ServiceTypesList,"Id","Category"))"
                                            class="form-control"></select>
                                </div>
                            }
                        </div>

                        <div class="col-5 offset-2">
                            @if (Model.ServiceTypesList.Count > 0)
                            {
                                <div class="col-6">
                                    <input type="submit" class="btn btn-info form-control" value="Agregar Servicio" />
                                </div>
                            }
                            <div class="col-6">
                                <a asp-page="IndexServices" class="btn btn-success form-control">Regresar a la lista</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<br />

<br />



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
