@page
@model GrupoESINuevo.Pages.ManageOrders.OrderIndexAdminModel
@using GrupoESIModels.Models
@addTagHelper GrupoESINuevo.TagHelpers.*,GrupoESINuevo
@{
    ViewData["Title"] = "OrderIndexAdmin";
}
<div class="container backgroundWhite">
    <h2 class="text-info">Indice de ordenes</h2>
    <div class="card container">
        <div class="card-header bg-dark text-light ml-0 row container-xl">
            <div class="col-6">
                <i class="fa fa-user-o"></i>
            </div>
        </div>
        <div class="card-body container">
            <form method="get" asp-page="OrderIndexAdmin">
                
            </form>
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table id="tblData" class="display">
                            <thead>
                                <tr>
                                    <th>

                                        Fecha
                                    </th>
                                    <th>
                                        Concepto
                                    </th>
                                    <th>
                                        Dirección
                                    </th>
                                    <th>
                                        Estado del pedido
                                    </th>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            //employerId = document.getElementById('');
            //console.log(employerId.innerText);employerId.innerTextemployerId + employerId

            loadDataTable();
        });
        function loadDataTable() {
            $("#tblData").DataTable(
                {
                    "ajax":
                    {
                        "type": "GET",
                        "url": "/api/ManageOrders/GetOrderList"
                    },
                    "columns": [
                        { "data": "date", "width": "10%" },
                        { "data": "concept", "width": "10%" },
                        { "data": "address", "width": "10%" },
                        { "data": "stateOfTheOrder", "width": "10%" },
                        {
                            "data": "orderId",
                            "render": function (data) {
                                return `
                                    <div class="text-center">
                                        <a href="/ManageOrders/ManageOrdersIndex?orderId=${data}" class="btn btn-success text-white" style="cursor:pointer">
                                           Manejar Cotizaciones 
                                        </a>
                                    </div>
                                `;
                            }
                        },
                        {
                            "data": "orderId",
                            "render": function (data) {
                                return `
                                    <div class="text-center">
                                        <a href="/Orders/EditOrder?orderId=${data}" class="btn btn-primary text-white" style="cursor:pointer">
                                          <i class="fas fa-edit"></i> Editar
                                        </a>
                                    </div>
                                `;
                            }
                        },
                        {
                            "data": "orderId",
                            "render": function (data) {
                                return `
                                    <div class="text-center">
                                        <a href="/Orders/DetailsOrder?orderId=${data}" class="btn btn-info text-white" style="cursor:pointer">
                                          <i class="fas fa-info-circle"></i> Detalles
                                        </a>
                                    </div>
                                `;
                            }
                        },
                         {
                            "data": "orderId",
                            "render": function (data) {
                                return `
                                    <div class="text-center">
                                        <a href="/Orders/DeleteOrder?orderId=${data}" class="btn btn-danger text-white" style="cursor:pointer">
                                          <i class="fas fa-trash"></i> Borrar
                                        </a>
                                    </div>
                                `;
                            }
                        }

                    ]
                })
        }
    </script>
}