@page
@model GrupoESINuevo.CreateOrderModel

@{
    ViewData["Title"] = "Create";
}

<h2 class="text-info">Crear Orden</h2>
<div class="container backgroundWhite">
    <h2 class="text-info" py-2>Cotizacion</h2>
    <div class="card">
        <div class="card-header bg-dark text-light ml-0 row container">
            <div class="col-6">
                <i class="fa fa-user-o"></i>
            </div>
        </div>
        <div class="card-body container">

            <div class="col-md-6 offset-md-3">
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="_OrderAndOrderDetailsVM.OrderDetailsModel.Service.Name"></label>
                    </div>
                    <div class="col-sm-8" style="padding-bottom:5px;">
                        <input asp-for="_OrderAndOrderDetailsVM.OrderDetailsModel.Service.Name" disabled class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="_OrderAndOrderDetailsVM.OrderDetailsModel.Service.ApplicationUser.Name"></label>
                    </div>
                    <div class="col-sm-8" style="padding-bottom:5px;">
                        <input asp-for="_OrderAndOrderDetailsVM.OrderDetailsModel.Service.ApplicationUser.Name" disabled class="form-control" />
                    </div>
                </div>
               
            </div>

            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form method="post">
                        <input hidden asp-for="_OrderAndOrderDetailsVM.serviceIdVM" />
                        <input hidden asp-for="_OrderAndOrderDetailsVM.OrderDetailsModel.Order" />
                        @*<input hidden asp-for="_OrderAndOrderDetailsVM.OrderDetailsModel.Service" />*@
                        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                        @*<div class="form-group">
                        <label asp-for="_OrderAndOrderDetailsVM.OrderModel.OrderDate" class="control-label"></label>
                        <input asp-for="_OrderAndOrderDetailsVM.OrderModel.OrderDate" class="form-control" />
                        <span asp-validation-for="_OrderAndOrderDetailsVM.OrderModel.OrderDate" class="text-danger"></span>
                    </div>*@
                        <div class="form-group">
                            <label asp-for="_OrderAndOrderDetailsVM.OrderModel.Direccion" class="control-label"></label>
                            <input asp-for="_OrderAndOrderDetailsVM.OrderModel.Direccion" class="form-control" />
                            <span asp-validation-for="_OrderAndOrderDetailsVM.OrderModel.Direccion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="_OrderAndOrderDetailsVM.OrderModel.Concepto" class="control-label"></label>
                            <input asp-for="_OrderAndOrderDetailsVM.OrderModel.Concepto" class="form-control" />
                            <span asp-validation-for="_OrderAndOrderDetailsVM.OrderModel.Concepto" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-page="../ManageOrders/OrderIndexAdmin">Back to List</a>
            </div>

        </div>
        </div>
    </div>

            

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
